In [15]:
print(slice(0, 100, 2).indices(50))

ls = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 16, 17, 18, 19, 20]

print(ls[slice(0, 10, 2)])

(0, 50, 2)
[1, 3, 5, 7, 9]

In [24]:
x = frozenset({"apple", "banana", "cherry"})
print(x)

x = b"Hello"
print(x)

x = bytearray(5)
print(x)

x = memoryview(bytes(5))
print(x)

frozenset({'cherry', 'apple', 'banana'})
b'Hello'
bytearray(b'\x00\x00\x00\x00\x00')
<memory at 0x10d72a140>

In [39]:
a = "\t Hello, World! "
print(a.strip('\t')) # returns "Hello, World!"
print('k')

 Hello, World!
k

\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [74]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [75]:
a = 'Nguyen Tuong     c    ' + 'a'
print('01234567890123456789')
print(a.maketrans({'m': 'm'}))

a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

01234567890123456789
{109: 'm'}
00000hello
welcome to the jungle
000010.000

https://www.w3schools.com/python/python_strings_methods.asp
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier | Kiểu chuẩn tên biến
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

In [76]:
print(bool("Hello"))
print(bool(15))

True
True



inplace operator
%=	                    x %= 3	          x = x % 3	
//=	                    x //= 3     	  x = x // 3	
**=	                    x **= 3     	  x = x ** 3	
&=	                    x &= 3	          x = x & 3	Bitwise AND
|=	                    x |= 3	          x = x | 3	Bitwise OR
^=	                    x ^= 3	          x = x ^ 3	Bitwise XOR
~=                      x = ~3            x = ~3   Binary Ones Complement
>>=	                    x >>= 3     	  x = x >> 3 Binary Left Shift, 3 mean 3 times shift
<<=	                    x <<= 3     	  x = x << 3  Binary Right Shift

In [117]:
y = 12
y >>= 3
print(y)

1

In [129]:
a = 10
b = 10

print(id(a))
print(id(b))

print(a is b)

4469641352
4469641352
True

In [132]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(a)
a = thislist.pop()
print(thislist)

banana
['apple']

In [133]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [134]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [142]:
def myfunc(n):
  return abs(n - 50)

thislist1 = [100, 50, 65, 82, 23]
thislist1.sort()
print(thislist1)

thislist2 = [100, 50, 65, 82, 23]
thislist2.sort(key = myfunc)
print(thislist2)

thislistSTR = ["banana", "Orange", "Kiwi", "cherry"]
thislistSTR.sort(key = str.lower)
print(thislistSTR)

[23, 50, 65, 82, 100]
[50, 65, 23, 82, 100]
['banana', 'cherry', 'Kiwi', 'Orange']

In [147]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
print(id(thislist))
print(id(mylist))

['apple', 'banana', 'cherry']
4520995840
4521919744

In [153]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

apple
banana
['cherry', 'strawberry', 'raspberry']
apple
['mango', 'papaya', 'pineapple']
cherry
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')